.aside {
  grid-area: aside;
  border: solid 1px white;
  padding: 0 0 12px 0;

  .aside__section {
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .aside__guide {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;

    .guide__icon {
      width: 24px;
      height: 24px;
      margin: 0 24px 0 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
