.main {
  grid-area: main;
  border: solid 1px white;
  z-index: auto;

  .main-header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 56px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1;

    .main-header__category {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      font-size: 14px;
      font-family: Roboto, Arial, sans-serif;
      margin: 12px;
      padding: 0 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      border-radius: 16px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:nth-child(1) {
        background-color: #030303;
        color: white;
      }
    }
  }

  .main-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    padding: 10px 0;

    .main-section__video {
      height: 300px;
      border: solid 1px black;
      margin: 10px;
    }
  }
}
