@use './variables' as var;

@mixin createdHeaderRow() {
  border: solid 1px black;
  height: var.$header-row-height;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
