@import './layout/header';
@import './layout/aside';
@import './layout/main';

.container {
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-areas:
    'header header'
    'aside main';
}
