@use './utils/mixins' as mix;

.header-row {
  @include mix.createdHeaderRow;
}

.search {
  @include mix.createButton;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.75rem;
}

.login {
  @include mix.createButton;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  background: rgb(52, 58, 64);
}
