@use '../utils/mixins' as mix;

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
}

.post {
  height: 20rem;
  border: solid 1px black;
  margin: 1rem 1rem;
}
